<div class="forgot-page">
  <div class="form">
    <h1>Forgot Password</h1>
    <form class="forgot-form" [formGroup]="forgotForm" (ngSubmit)="onForgot()">
      <mat-form-field class="username-field" appearance="fill">
        <mat-label>New password</mat-label>
        <input formControlName="passWord" matInput type="password" placeholder="new password">
      </mat-form-field>
      <mat-form-field class="password-field pt-2" appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input formControlName="confirmPassWord" matInput type="password" placeholder="confirm password">
      </mat-form-field>
      <button class="change-button" type="submit">Change</button>
      <p class="message">Have account!  <a class="create-account" (click)="onBackLogin()">Back to login</a></p>
    </form>
  </div>
</div>
