<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <p>username: admin | password: 123</p>
      <mat-form-field class="username-field" appearance="fill">
        <mat-label>User name</mat-label>
        <input formControlName="userName" matInput placeholder="username">
      </mat-form-field>
      <mat-form-field class="password-field pt-2" appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="passWord" matInput type="password" placeholder="password">
      </mat-form-field>
      <mat-radio-group formControlName="role" aria-label="Select an role">
        <mat-radio-button [checked]="true" value="admin">Admin</mat-radio-button>
        <mat-radio-button value="lecturer">Lecturer</mat-radio-button>
        <mat-radio-button value="student">Student</mat-radio-button>
      </mat-radio-group>
      <button class="login-button" type="submit" [disabled]="!loginForm.valid">login</button>
      <p class="message">Not registered? <a class="create-account" (click)="openDialog()">Create an account</a></p>
    </form>
  </div>
</div>
