<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field class="username-field" appearance="fill">
        <mat-label>User name/Email</mat-label>
        <input formControlName="userName" matInput placeholder="username/email">
      </mat-form-field>
      <mat-form-field class="password-field pt-2" appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="passWord" matInput type="password" placeholder="password">
      </mat-form-field>

      <button class="login-button" type="submit" [disabled]="!loginForm.valid">login</button>
      <p class="message">Not registered? <a class="create-account" (click)="openDialog()">Create an account</a></p>
      <a class="create-account" (click)="openDialog(true)">Forgot password?</a>
    </form>
  </div>
</div>
