<app-nav *ngIf="authService.isLoggedIn$ | async as isLoggedIn"></app-nav>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="list-option" *ngIf="authService.isLoggedIn$ | async as isLoggedIn">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option routerLink="/student" routerLinkActive="active">
        Student
      </mat-list-option>
      <mat-list-option routerLink="/lecturer" routerLinkActive="active">
        Lecturer
      </mat-list-option>
      <mat-list-option routerLink="/department" routerLinkActive="active">
        Department
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content [ngClass]="'authService.isLoggedIn$ | async as isLoggedIn'?' ' :'main-contet'">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
