<div class="admin-page">
  <div class="action">
    <form [formGroup]="form">
      <div class="conteiner">
        <div class="row">
          <div class="col-12 col-md-12 col-xl-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Full Name</mat-label>
              <input formControlName="fullName" placeholder="Search full name..." matInput>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-xl-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="defaultItem.value">{{defaultItem.text}}</mat-option>
                <mat-option *ngFor="let status of listStatus" [value]="status.value">
                  {{status.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-xl-6 d-flex align-items-center">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Choose a create at from</mat-label>
              <input formControlName="createAtFrom" [(ngModel)]="createAtFrom" matInput [max]="createAtTo"
                [matDatepicker]="createFrom">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="createFrom"></mat-datepicker-toggle>
              <mat-datepicker #createFrom></mat-datepicker>
            </mat-form-field>
            <div class="px-2">
              &ensp;&#8212;&ensp;
            </div>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Choose a create at to</mat-label>
              <input formControlName="createAtTo" [(ngModel)]="createAtTo" matInput [min]="createAtFrom"
                [matDatepicker]="createTo">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="createTo"></mat-datepicker-toggle>
              <mat-datepicker #createTo></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-xl-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Email</mat-label>
              <input formControlName="email" placeholder="Search email..." matInput>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-xl-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option [value]="defaultItem.value">{{defaultItem.text}}</mat-option>
                <mat-option *ngFor="let role of listRole" [value]="role.value">
                  {{role.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-xl-6"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="action-button d-flex justify-content-end">
              <div class="search pr-3">
                <button class="btn btn-primary" (click)="onSearch()">Search</button>
              </div>
              <div class="dropdown pr-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMe nuButton">
                  <a class="dropdown-item" (click)="onBulkDelete()">Delete ({{selectionUser.selected.length}}) items</a>
                  <a class="dropdown-item" (click)="onExportAll()">Export All</a>
                  <a class="dropdown-item" (click)="onBulkExport()">Export ({{selectionUser.selected.length}}) items</a>
                </div>
              </div>
              <div class="create-user">
                <button class="btn btn-success" (click)="onCreate()">New user</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="table-user">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortDisableClear>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selectionUser.hasValue() && isAllSelected()"
            [indeterminate]="selectionUser.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionUser.toggle(row) : null"
            [checked]="selectionUser.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef  >
          Full name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef  >
          Email
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef  >
          Role
        </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef  >
          Create at
        </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at |date}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef  >
          Status
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.status === 'Banned'" class="btn btn-outline-danger status">{{element.status}}</span>
          <span *ngIf="element.status === 'Active'" class="btn btn-outline-success status">{{element.status}}</span>
          <span *ngIf="element.status === 'Inactive'" class="btn btn-outline-secondary status">{{element.status}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef> Preview </th>
        <td mat-cell *matCellDef="let element">
          <kendo-icon name="preview" size="medium" (click)="onPreview(element)"></kendo-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <kendo-icon name="edit" size="medium" (click)="onEdit(element)"></kendo-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <kendo-icon name="trash" size="medium" (click)="onDelete(element)"></kendo-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <kendo-datapager [total]="totalData" [pageSize]="pageSize" [skip]="skip" (pageChange)="onPageChange($event)">
  </kendo-datapager>
</div>
