.admin-page {
  padding: 30px;

  .action {
    border: 2px solid #d3d3d3;
    padding: 15px;
  }

  .table-user {
    padding-top: 60px;

    table {
      width: 100%;

      th.mat-header-cell {
        font-size: 18px;
        font-weight: bold;
        color: #0489df;
      }

      .mat-column-full_name,
      .mat-column-email {
        width: 25%;
      }

      .mat-column-select {
        width: 5%;
        padding-top: 20px;
        padding-right: 30px;
      }

      .mat-column-status {
        text-align: center;
        width: 10%;
      }

      .mat-column-role,
      .mat-column-created_at {
        width: 10%;
      }

      .mat-column-preview,
      .mat-column-edit,
      .mat-column-del {
        width: 5%;
        cursor: pointer;
        text-align: center;
      }

      .status {
        width: 100%;
        cursor: default;
      }
    }
  }

  .k-i-arrow-up,
  .k-i-arrow-down {
    color: #0489df;
  }
}
