.example-small-box,
.example-large-box {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.example-large-box {
  height: 93%;
  width: 95%;
}

.label-custom {
  font-weight: bold;
  color: #656565;
}
