<h1 mat-dialog-title>User Profile</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Information">
      <div class="example-large-box mat-elevation-z4">
        <div class="container">
          <div class="row pt-3">
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Full Name"></kendo-label>
              <input kendoTextBox readonly value="{{user.full_name}}" />
            </div>
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="User Name"></kendo-label>
              <input kendoTextBox readonly value="{{user.username}}" />
            </div>
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Email"></kendo-label>
              <input kendoTextBox readonly value="{{user.email}}" />
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Phone"></kendo-label>
              <input kendoTextBox readonly value="{{user.mobile_phone}}" />
            </div>
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Date of birth"></kendo-label>
              <input kendoTextBox readonly value="{{user.date_of_birth}}" />
            </div>
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Address"></kendo-label>
              <input kendoTextBox readonly value="{{user.address}}" />
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Gender"></kendo-label>
              <input kendoTextBox readonly value="{{convertChartoValueOfGender(user.gender)}}" />
            </div>
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Status"></kendo-label>
              <input kendoTextBox readonly value="{{user.status}}" />
            </div>
            <div class="col-12 col-md-4 col-xl-4">
              <kendo-label class="label-custom" text="Duration"></kendo-label>
              <input kendoTextBox readonly value="{{user.duration}}" />
            </div>
          </div>
          <div class="row py-3">
            <div class="col-12 col-md-12 col-xl-12">
              <kendo-label class="label-custom" text="Reason Ban"></kendo-label>
              <kendo-textarea [readonly]="true" value="{{user.reasonBan}}">
              </kendo-textarea>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Ban history">
      <div class="banned-box example-large-box mat-elevation-z4">
        <div class="title px-3">
          <h2>User Name: {{user.username}}</h2>
        </div>
        <h5 class="label-custom">Banned</h5>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
          <div *cdkVirtualFor="let item of items" class="example-item">
            <p>Time: {{item}}</p>
            <p>Ban Duration: {{item}}</p>
            <p>Resion: {{item}}</p>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
<div mat-dialog-actions align="center">
  <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
