<h1 mat-dialog-title>Change Password</h1>
<mat-dialog-content class="register-content">
  <form class="register-form" [formGroup]="changePassForm" (ngSubmit)="onChange()">
    <mat-form-field class="input-field pt-2" appearance="fill">
      <mat-label>Password Old</mat-label>
      <input formControlName="passWordOld" matInput type="password" placeholder="enter password old" value="">
    </mat-form-field>
    <mat-form-field class="input-field pt-2" appearance="fill">
      <mat-label>Password New</mat-label>
      <input formControlName="passWordNew" matInput type="password" placeholder="enter password new" value="">
    </mat-form-field>
    <mat-form-field class="input-field pt-2" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" matInput type="password" placeholder="enter confirm password" value="">
    </mat-form-field>
    <button class="change-pass-button mt-4" cdkFocusInitial type="submit">Change password</button>
  </form>
</mat-dialog-content>
